@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("~assets/fonts/NotoSans-Regular.ttf") format("truetype");
}

.startpageblock {
    height: auto;
    min-height: 100vh;
    padding: 100px 0;
    position: relative;
    overflow: auto;
    font-family: "Noto Sans", sans-serif;
    &__circles {
        position: relative;
        width: 876px;
        height: 376px;
        .circletext {
            font-weight: bold;
            font-size: 10px;
            line-height: 20px;
            display: flex;
            height: 100%;
            padding: 10px;
        }
        .circle-inside {
            display: none;
            position: absolute;
            width: 876px;
            height: 1px;
            z-index: 1;
            .circle-inside-line {
                display: inline-block;
                position: absolute;
                height: 1px;
                background-color: #000;
            }
        }
        .one-circle {
            width: 376px;
            height: 376px;
            @include circlemixin();
            .circletext {
                align-items: flex-end;
            }
            .circle-inside {
                transform: rotate(12deg);
                .circle-inside-line {
                    left: 20%;
                    width: 180px;
                }
            }
        }

        .two-circle {
            top: 35px;
            width: 306px;
            height: 306px;
            @include circlemixin();
            .circletext {
                align-items: flex-start;
            }
            .circle-inside {
                transform: rotate(-12deg);
                .circle-inside-line {
                    left: 15%;
                    width: 220px;
                }
            }
        }

        .three-circle {
            top: 70px;
            width: 236px;
            height: 236px;
            @include circlemixin();
            .circletext {
                align-items: flex-end;
            }
            .circle-inside {
                transform: rotate(12deg);
                .circle-inside-line {
                    right: 15%;
                    width: 220px;
                }
            }
        }

        .four-circle {
            top: 105px;
            width: 166px;
            height: 166px;
            @include circlemixin();
            .circletext {
                align-items: center;
            }
            .circle-inside {
                transform: rotate(-12deg);
                .circle-inside-line {
                    right: 15%;
                    width: 220px;
                }
            }
        }
    }
    &__circles .one-circle:hover,
    &__circles .two-circle:hover,
    &__circles .three-circle:hover,
    &__circles .four-circle:hover {
        box-shadow: 5px 5px 10px rgba(156, 142, 255, 0.16), -5px -5px 5px $white,
            inset -5px -5px 10px rgba(156, 142, 255, 0.16), inset 5px 5px 5px $white;
        .circle-inside {
            display: block;
        }
    }
}
