@mixin circlemixin() {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  box-shadow: 2px 2px 4px rgba(156, 142, 255, 0.16), -2px -2px 2px $white, inset -2px -2px 4px rgba(156, 142, 255, 0.16),
    inset 2px 2px 2px $white;
  cursor: pointer;
}

@mixin popupblockmixin() {
  position: absolute;
  top: -120px;
  width: 240px;
  height: 240px;
}

@mixin popupdatablockmixin() {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  overflow: hidden;
  background-color: $white;
  color: $textmaincolor;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 1;
  padding: 5px;
  -webkit-box-shadow: inset 0px 1px 4px 3px rgba(156, 142, 255, 0.16);
  box-shadow: inset 0px 1px 4px 3px rgba(156, 142, 255, 0.16);
}
